{% load static %}
<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/fontastic.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
  </head>
  <body>
	{% include 'partials/nav_primary.html' %}
	<section class="newsletter pt-4">    
	  	<div class="container">
			<div class="row">
		  		<div class="col-md-12">
		  			<form action="/list/" method="get">
				      	<div class="input-group">
				      		<select name="city" class="form-control col-md-2 city_search">
							  	<option val="Bangalore">Bangalore</option>
							  	<option val="Kochi">Kochi</option>
							</select>
							<!--select name="board" class="form-control col-md-2 city_search">
								{% for board in board_list %}
							  	<option val="{{board.name}}">{{board.name}}</option>
							  	{% endfor %}
							</select-->
						  	<input type="text" name="name" id="search" placeholder="Search schools..." class="form-control">
						  	<button type="submit" class="submit">Search</button>
						</div>
		  			</form>
		  		</div>
			</div>
	  	</div>
	</section>

	<section class="latest-posts no-padding"> 
		<div class="row">
		  <div class="post col-md-6">
			<div class="post-thumbnail"><a href="post.html"><img src="{% static 'img/blog-1.jpg' %}" alt="..." class="img-fluid"></a></div>
			<div class="post-details">
			  <div class="post-meta d-flex justify-content-between">
			  </div>
			  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
			</div>
		  </div>
		  <div class="post col-md-6">
			<div class="post-thumbnail"><a href="post.html"><img src="{% static 'img/blog-2.jpg' %}" alt="..." class="img-fluid"></a></div>
			<div class="post-details">
			  <div class="post-meta d-flex justify-content-between">
			  </div>
			  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
			</div>
		</div>
	  </div>
	</section>
	
	<!-- JavaScript files-->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
	<script src="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>
	<script src="{% static 'js/front.js' %}"></script>

	<script>
	if(window.localStorage.length == 0) {
        localStorage.setItem("city", 'Bangalore');
    }
    var city = localStorage.getItem('city');
    $('select').change(function() {
    	city_selected = $(this).val();
    	localStorage.setItem("city", city_selected);
    })
    $(function() {
	    $(".city_search").val(city);
	});
	</script>
  </body>
</html>